button {
  width: 100px;
  height: 40px;
  border-radius: 50px;
  font-size: 1rem;
  margin: 0.3rem;
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }
}